select[disabled] {
  cursor: default;
  opacity: 0.5;
}
body.state_default nf-field.florp-left{
  float: left;
  width: 49%;
  clear: both;
}
body.state_default nf-field.florp-right{
  float: right;
  width: 49%;
}
nf-field .florp-right-button,
nf-field.florp-right-button{
  float: right;
  width: 14%;
}
nf-field .florp-left-with-button,
nf-field.florp-left-with-button{
  float: left;
  width: 85%;
}
nf-field.florp-hidden-if-map-correct{
  display: none;
}
.florp-button{
  background-color: #277cea;
  color: #fff;
}
.florp-button[disabled]{
  cursor: default;
  opacity: .3;
}
.florp-video,
.florp-map-preview-wrapper{
  display: none;
}
.florp-clear{
  clear:both;
}
.nf-response-msg{
  position: fixed;
  top: 5em;
  left: 35%;
  width: 30%;
  text-align: center;
  z-index: 200;
}
.nf-form-errors{
  position: fixed;
  top: 5em;
  left: 35%;
  width: 30%;
  text-align: center;
  z-index: 200;
}
.florp_success_message{
  color: green;
  font-weight: bold;
  font-size: x-large;
  position: relative;
  background-color: rgba( 238, 238, 238, 1.00 );
  border: 1px dotted green;
}
.nf-form-errors .nf-error-msg{
  font-weight: bold;
  font-size: x-large;
  position: relative;
  background-color: rgba( 238, 238, 238, 1.00 );
  border: 1px dotted red;
}
.florp-user-info-box{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px dotted gray;
  padding: 5px;
}

.lwa-links-register-inline.button,
.lwa-links-remember.button{
  background-color: gray;
  color: white;
}
.lwa-links-register-inline-cancel.button:hover,
.lwa-links-remember-cancel:hover,
.lwa-links-register-inline.button:hover,
.lwa-links-remember.button:hover{
  color: white !important;
}
.lwa-username,
.lwa-password,
.pum-container.popmake .button,
.florp-profile-wrapper .button,
.lwa-links,
.pum-container.popmake input[type=submit],
.florp-profile-wrapper input[type=submit]{
  margin: 0.5em 0 !important;
}
.florp-button{
  margin-top: 0 !important;
}

.pum-container.popmake input[type=text],
.pum-container.popmake input[type=password],
.pum-container.popmake input[type=email],
.pum-container.popmake input[type=number],
.pum-container.popmake textarea,
.pum-container.popmake select{
  background-color: white !important;
}

.nf-field-description,
.nf-form-fields-required,
.florp-flashmob-info-p{
  font-size: 0.75em;
}

.nf-form-fields-required{
  margin-top: 1em;
}
.florp-flashmob-info-h5{
  margin-bottom: 0.5em;
}
.florp-flashmob-info-p{
  margin-bottom: 21px;
}

.florp-marker-infowindow-wrapper{
  width: 285px;
  margin-left: 28px;
}
.florp-marker-infowindow-wrapper .florp-flashmob-location,
.florp-marker-infowindow-wrapper .florp-course-location {
  padding:0!important;
}
.florp-marker-infowindow-wrapper>p,
.florp-marker-infowindow-wrapper .florp-course-info>p {
  padding-left:0!important;
}

.nf-field .textarea-wrap .nf-field-element {
  background-color: #eeeeee;
}

.flashmob_organizer_has_participants_warning {
    font-weight: bold;
    font-style: italic;
    color: red;
}
.z-index-1999999999{
  z-index: 1999999999 !important;
}
.florp-leader-participants-table{
  width: 100%;
}
.florp-leader-participants-hcell{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
}
.florp-leader-participants-table tr:last-of-type .florp-leader-participants-cell {
  border-bottom: 1px solid #ccc;
}
.florp-leader-participants-table tr:nth-child(odd) {
  background-color: #eee;
}
.florp-click-participant-trigger {
  /* color: red; */
  color: #277cea;
  /* text-decoration: underline dashed; */
  /* font-weight: bold; */
}