span.button,
span.notice{
  display: block !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
  text-align: center;
}

td.column.hide,
th.column.hide,
span.button.hide,
span.notice.hide,
span.button.forceHide,
span.notice.forceHide{
  display: none !important;
}

.columnTogglerRow,
.buttonTogglerRow {
  display: block;
}
.columnTogglerRow {
  width: 100%;
}
.buttonTogglerRow {
  width: calc(100% - 11em);
}

.columnTogglerCheckboxWrapper,
.buttonTogglerCheckboxWrapper{
  margin: 5px;
  display: inline-block;
}
.buttonTogglerCheckboxWrapper{
  float: left;
}

.button-warning{
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}

.button-danger{
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #eea236 !important;
}

tr.florpFilterHeaderRow,
th.florpFilterHeaderCell{
  margin: 0;
  padding: 0;
}


input.florpFilterInput{
  margin: 0 !important;
  width: 100%;
  height: 2em;
}

tr.florpFilterHidden{
  display: none;
}

p.addOrderDateParagraph span.button{
  vertical-align: middle;
}

p.addOrderDateParagraph input,
p.addOrderDateParagraph select{
  height: 28px;
  margin: 1px;
  padding: 3px 5px;
  vertical-align: middle;
}

span.tableCountInfo{
  display: inline-block;
  text-align: right;
  padding: 5px;
  float: right;
  width: 10em;
}

table.florpNoWrap{
  white-space: nowrap;
}

table.florpHorizontalScroll{
  overflow-x: auto;
  display: block;
}

.florpTableCaption{
  float: left;
  margin-bottom: 0;
  margin-top: 1.33em;
}
.florpTableCaption+.tableCountInfo{
  float: right;
  margin-top: 1.33em;
}

table.florpFirstColFrozen.florpHorizontalScroll{
  width: calc( 100% - 14em - 20px );
}

table.florpFirstColFrozen tr td:first-of-type,
table.florpFirstColFrozen tr th:first-of-type{
  position: absolute;
  width: 14em;
  left: 10px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
/*  width: calc( 14em - 20px );
  padding-left: 10px;
  padding-right: 10px;*/
}
table.florpFirstColFrozen tr th:first-of-type{
  width: calc( 14em - 20px );
  padding-left: 10px;
  padding-right: 10px;
}
table.florpFirstColFrozen.striped tr:nth-child(odd) :first-of-type {
  background-color: #f9f9f9;
}

table.florpFirstColFrozen tr.florpFilterHeaderRow th:first-of-type{
  width: 14em;
  padding-left: 0;
  padding-right: 0;
}
table.florpFirstColFrozen{
  margin-left: calc( 14em + 20px );
}