<div id="florp-admin-tshirt-change" class="florp-pop-in-div hide">
    <form id="florp-admin-tshirt-change-form" class="florp-pop-in-form">
        <p id="error" class="notice notice-error hide"></p>
        <p id="success" class="notice notice-success hide"></p>
        <input id="data" type="hidden" name="data" value="none"/>

        <p><label for="tshirt_size">Veľkosť:</label> <select id="tshirt_size" name="tshirt_size">%%options-size%%</select></p>
        <p><label for="tshirt_gender">Typ:</label> <select id="tshirt_gender" name="tshirt_gender">%%options-gender%%</select></p>
        <p><label for="tshirt_color">Farba:</label> <select id="tshirt_color" name="tshirt_color">%%options-color%%</select></p>

        <p><input id="save" name="save" type="submit" value="Uložiť"/></p>
    </form>
</div>