<tr style="width: 98%; padding:  5px 1%;">
  <th colspan="2"><h3>Nastavenia</h3></th>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_intf_blog_id">Podstránka</label></th>
  <td>
    <select id="florp_intf_blog_id" name="florp_intf_blog_id" style="width: 100%;">%%optionsIntfSite%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_ninja_form_id_intf">Registračný / profilový formulár (spomedzi Ninja Form formulárov)</label></th>
  <td>
    <select id="florp_profile_form_ninja_form_id_intf" name="florp_profile_form_ninja_form_id_intf" style="width: 100%;">%%optionsNinjaFormsIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_page_id_intf">Dedikovaná profilová stránka (v ktorej je registračný / profilový formulár)</label></th>
  <td>
    <select id="florp_profile_form_page_id_intf" name="florp_profile_form_page_id_intf" style="width: 100%;">%%optionsPagesIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_popup_id_intf">PUM Popup, v ktorom je registračný / profilový formulár</label></th>
  <td>
    <select id="florp_profile_form_popup_id_intf" name="florp_profile_form_popup_id_intf" style="width: 100%;">%%optionsPopupsIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th colspan="2">
    <span style="font-size: smaller;">Ak je na stránke s PUM Popup-om element <code>#florp-popup-scroll</code>, pri zatvorení PUM Popup-u sa stránka scrollne na tento element.</span>
  </th>
</tr>
