<tr style="width: 98%; padding:  5px 1%;">
  <th colspan="2"><h3>Nastavenia</h3></th>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_intf_flashmob_year">Dátum a čas medzinárodného flashmobu</label></th>
  <td>
    <select id="florp_intf_flashmob_year" name="florp_intf_flashmob_year">%%optionsYears%%</select>
    / <select id="florp_intf_flashmob_month" name="florp_intf_flashmob_month">%%optionsMonths%%</select>
    / <select id="florp_intf_flashmob_day" name="florp_intf_flashmob_day">%%optionsDays%%</select>
    <select id="florp_intf_flashmob_hour" name="florp_intf_flashmob_hour">%%optionsHours%%</select>
    : <select id="florp_intf_flashmob_minute" name="florp_intf_flashmob_minute">%%optionsMinutes%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    Mestá (užívatelia) v hlasovaní:
  </th>
  <td style="border-top: 1px lightgray dashed;">
    %%aIntfCityPollUsers%%
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_intf_city_poll_extra_cities">Ďalšie mestá v hlasovaní (oddelené čiarkou)</label>
  </th>
  <td>
    <input id="florp_intf_city_poll_extra_cities" name="florp_intf_city_poll_extra_cities" type="text" value="%%strIntfCityPollExtraCities%%" style="width: 100%;" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;"><label for="florp_intf_blog_id">Podstránka</label></th>
  <td style="border-top: 1px lightgray dashed;">
    <select id="florp_intf_blog_id" name="florp_intf_blog_id" style="width: 100%;">%%optionsIntfSite%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_ninja_form_id_intf">Registračný / profilový formulár (spomedzi Ninja Form formulárov)</label></th>
  <td>
    <select id="florp_profile_form_ninja_form_id_intf" name="florp_profile_form_ninja_form_id_intf" style="width: 100%;">%%optionsNinjaFormsIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_page_id_intf">Dedikovaná profilová stránka (v ktorej je registračný / profilový formulár)</label></th>
  <td>
    <select id="florp_profile_form_page_id_intf" name="florp_profile_form_page_id_intf" style="width: 100%;">%%optionsPagesIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;"><label for="florp_profile_form_popup_id_intf">PUM Popup, v ktorom je registračný / profilový formulár</label></th>
  <td>
    <select id="florp_profile_form_popup_id_intf" name="florp_profile_form_popup_id_intf" style="width: 100%;">%%optionsPopupsIntf%%</select>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th colspan="2">
    <span style="font-size: smaller;">Ak je na stránke s PUM Popup-om element <code>#florp-popup-scroll</code>, pri zatvorení PUM Popup-u sa stránka scrollne na tento element.</span>
  </th>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    HTML text zobrazený neprihláseným návštevníkom nad prihlasovacím (resp. registračným) formulárom (len ak je formulár použitý na prihlásenie / registráciu)
  </th>
  <td style="border-top: 1px lightgray dashed;">
    %%wpEditorBeforeLoginFormHtmlIntf%%
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_newsletter_lists_intf">Newsletter zoznamy (oddelené čiarkou)</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_newsletter_lists_intf" name="florp_newsletter_lists_intf" type="text" value="%%strNewsletterListsIntf%%" style="width: 100%;" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_intf_participant_registered_subject">Predmet správy poslanej prihláseným účastníkom flashmobu</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_intf_participant_registered_subject" name="florp_intf_participant_registered_subject" type="text" value="%%strIntfParticipantRegisteredSubject%%" style="width: 100%;" />
    <span style="width: 100%;">Placeholdre: <code>%BLOGNAME%</code>, <code>%BLOGURL%</code></span>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    Správa poslaná prihláseným účastníkom flashmobu
  </th>
  <td style="border-top: 1px lightgray dashed;">
    %%wpEditorIntfParticipantRegisteredMessage%%
    <span style="width: 100%;">Placeholdre: <code>%BLOGNAME%</code>, <code>%BLOGURL%</code>, <code>%USERNAME%</code>, <code>%EMAIL%</code></span>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_intf_tshirt_payment_warning_notif_sbj">Predmet upozornenia na platbu za tričko</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_intf_tshirt_payment_warning_notif_sbj" name="florp_intf_tshirt_payment_warning_notif_sbj" type="text" value="%%strIntfTshirtPaymentWarningNotificationSbj%%" style="width: 100%;" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    Text upozornenia na platbu za tričko
  </th>
  <td style="border-top: 1px lightgray dashed;">
    %%wpEditorIntfTshirtPaymentWarningNotificationMsg%%
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_payment_ok_notif_enabled">Zapnúť notifikácie o úspešnej platbe?</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_payment_ok_notif_enabled" name="florp_payment_ok_notif_enabled" type="checkbox" %%paymentOKNotificationEnabledChecked%% value="1"/>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_payment_ok_notif_sbj">Predmet notifikácie o úspešnej platbe</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_payment_ok_notif_sbj" name="florp_payment_ok_notif_sbj" type="text" value="%%strPaymentOKNotificationSbj%%" style="width: 100%;" />
    <span style="width: 100%;">Placeholdre: <code>%REASON%</code> (%%strPaymentOKNotificationReasons%%)</span>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    Text notifikácie o úspešnej platbe
  </th>
  <td style="border-top: 1px lightgray dashed;">
    %%wpEditorPaymentOKNotificationMsg%%
    <span style="width: 100%;">Placeholdre: <code>%REASON%</code> (%%strPaymentOKNotificationReasons%%)</span>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th colspan="2">
    <span style="font-size: smaller;">Pozor: Predmet a text notifikácie o úspešnej platbe sú položky zdieľané všetkými podstránkami. Ak ich zmeníte tu, zmenia sa aj inde.</span>
  </th>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_intf_tshirt_ordering_disabled">Vypnúť objednávanie tričiek na formulári pre účastníkov?</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_intf_tshirt_ordering_disabled" name="florp_intf_tshirt_ordering_disabled" type="checkbox" %%tshirtIntfOrderingDisabledChecked%% value="1"/>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_intf_tshirt_ordering_only_disable">Pri vypnutom objednávaní tričiek na formulári pre účastníkov ponechať checkbox viditeľný (ale neklikateľný)?</label>
  </th>
  <td>
    <input id="florp_intf_tshirt_ordering_only_disable" name="florp_intf_tshirt_ordering_only_disable" type="checkbox" %%tshirtIntfOrderingDisabledOnlyDisableChecked%% value="1"/>
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right; border-top: 1px lightgray dashed;">
    <label for="florp_intf_tshirt_payment_warning_deadline">Deadline na zobrazovanie upozornenia na dátum, po ktorom už tričká nebudú doručené pred flashmobom [počet dní pred flashmobom]</label>
  </th>
  <td style="border-top: 1px lightgray dashed;">
    <input id="florp_intf_tshirt_payment_warning_deadline" name="florp_intf_tshirt_payment_warning_deadline" type="number" value="%%iIntfTshirtPaymentWarningDeadline%%" style="width: 100%;" min="0" title="Current: %%iIntfTshirtPaymentWarningDeadline%% => %%iIntfTshirtPaymentWarningDeadlineTime%%" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_intf_tshirt_payment_warning_btn_deadline">Deadline na nútené zobrazovanie tlačítka na odoslanie upozornenia na neskorú platbu za tričko [počet dní pred flashmobom]</label>
  </th>
  <td>
    <input id="florp_intf_tshirt_payment_warning_btn_deadline" name="florp_intf_tshirt_payment_warning_btn_deadline" type="number" value="%%iIntfTshirtPaymentWarningButtonDeadline%%" style="width: 100%;" min="-1" title="Current: %%iIntfTshirtPaymentWarningButtonDeadline%% => %%iIntfTshirtPaymentWarningButtonDeadlineTime%%" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_intf_tshirt_order_delivered_b4_flash_ddl">Deadline, po ktorom už tričká nebudú doručené pred flashmobom [počet dní pred flashmobom]</label>
  </th>
  <td>
    <input id="florp_intf_tshirt_order_delivered_b4_flash_ddl" name="florp_intf_tshirt_order_delivered_b4_flash_ddl" type="number" value="%%iIntfTshirtOrderDeliveredBeforeFlashmobDdl%%" style="width: 100%;" min="0" title="Current: %%iIntfTshirtOrderDeliveredBeforeFlashmobDdl%% => %%iIntfTshirtOrderDeliveredBeforeFlashmobDdlTime%%" />
  </td>
</tr>
<tr style="width: 98%; padding:  5px 1%;">
  <th style="width: 47%; padding: 0 1%; text-align: right;">
    <label for="florp_intf_city_poll_deadline">Deadline, po ktorom sa nebude zobrazovať hlasovanie za mesto [počet dní pred flashmobom]</label>
  </th>
  <td>
    <input id="florp_intf_city_poll_deadline" name="florp_intf_city_poll_deadline" type="number" value="%%iIntfCityPollDeadline%%" style="width: 100%;" min="0" title="Current: %%iIntfCityPollDeadline%% => %%iIntfCityPollDdlTime%%" />
  </td>
</tr>
